*{
    box-sizing: border-box;
  
  }
   
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   
  }  
  

  .container {
    width: 80%;
    margin: auto;
    display: flex; 
  }

  .titulo { 
    color: black;
    font-weight: 500; 
    margin-right: 535px; 
  }
  
.header {
    background-color: white; 
    
  }
  
  .header .container {
    justify-content: space-between;
  }
  
  .header a {
    text-decoration: none;
    color: black;
  }
  
  .agora {
    font-weight: 800; 
  }
  
  .navbar {
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: black;
  }
  
  .logotimao{
    height: 90px; 
  
  }

.banner {
   display: flex;
    height: 85.6vh;
    background-image: url(../assets/imgs/Design\ sem\ nome.png);
    background-repeat: no-repeat;
    background-size:cover; 
  } 
 
  .border{
    
    /* border-left: 2px solid black; */

  }

  .card_mural{
        
    border-right: 3px solid white;

  }

  .mural{
    
    width: 50vh;
    height: 85.6vh;
    background-color: #ffffff42;
  }

  .graf1{
    height:60vh;
    width:50vw;
  }  
  
  .grafico{
    
    width: 60vw;
  }

#dht11Umidade{
  margin-top: 100px;
  margin-left: 150px; 
  border-radius: 5px;
  background-color: white;
  width: 80vw;
  height: 85vh;  
}