*{
    box-sizing: border-box;
  
  }
   
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   
  }  
  

  .container {
    width: 80%;
    margin: auto;
    display: flex; 
  }

  .titulo { 
    color: black;
    font-weight: 500; 
    margin-right: 535px; 
  }
  
.header {
    background-color: white; 
    
  }
  
  .header .container {
    justify-content: space-between;
  }
  
  .header a {
    text-decoration: none;
    color: black;
  }
  
  .agora {
    font-weight: 800; 
  }
  
  .navbar {
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: black;
  }
  
  .logotimao{
    height: 90px; 
  
  }

.banner {
   display: flex;
    height: 86.3vh;
    background-image: url(../assets/imgs/Design\ sem\ nome.png);
    background-repeat: no-repeat;
    background-size:cover; 
  } 
 
  .border{
    
    /* border-left: 2px solid black; */

  }

  .card_mural{
        display: flex;
    border-right: 3px solid white; 
    flex-direction: column;

  }

  .mural{
    width: 50vh;
    height: 86.3vh;
    background-color: #212124;
  } 
  .texto_ranking{
    margin-top: 100px;
     text-align: center;
    color:  white;
    font-size: 20px;
    font-weight: 800;
    font-family:sans-serif;

  } 
  .texto_user{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
  }  
  #usuario{
   
    font-weight: 700;
    color:red;
    box-shadow: 2px;
  }

  .texto_confira{
    text-align: center;
    margin-top: 38px;
    font-size: 20px;
    font-weight: 800;
    font-family: "Exo 2", sans-serif;
    border: 3px solid white;
    background-color: white;
    border-radius: 5px;
    width: 58vh;
    height: 5vh;
    margin-left: 330px;
    padding-top: 2px;
 
  }

  .btn_dash{
    margin-top: 50px;
    margin-left: 100px;
    background-color: white;
    width: 8vw;
    height: 8vh;
    border: 3px solid white;
    border-radius: 5px;
    font-size: 20px;
  font-family: sans-serif; 
  color: black;
  box-shadow: 4px 4px 4px;
  }

  .texto_btn{
    text-decoration: none;
    color: black;
  }

  .graf1{
    height:60vh;
    width:50vw;
  }  
  
  .grafico{
    
    width: 60vw;
  }

#dht11Umidade{
  margin-top: 40px;
  margin-left: 150px; 
  border-radius: 5px;
  background-color: white;
  width: 50vw;
  height: 50vh;  
}  


