*{
  box-sizing: border-box;

}


body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 
}  

.capa{

  margin-top: 1px;
  height: 100vh;
  display: flex;
  font-family: sans-serif;
  font-size: 20px;
  display: flex;
  background-image: url(../assets/imgs/Design\ sem\ nome.png);
  background-repeat: no-repeat; 

}   

.img2{
  
  background-repeat: no-repeat;
  
}

 .container {
  width: 80%;
  margin: auto;
  display: flex; 
   
}

.pai_texto{
 
color:  white;

}
.carrosel {
  background-position: center;
  width: 40vw;
  height: 70vh;
  margin-top: 50px;
  animation: slide 10s infinite;
  animation-duration: alternate;
  background-size: cover; 
  border: 3px #ffffff57 solid;
  border-radius: 8px;
}

@keyframes slide {

  0%,
  30% {
      background-image: url(../assets/imgs/trofeu.jpg);
  }

  35%,
  65% {
      background-image: url(../assets/imgs/fundo2.jpg);
  }

  70%,
  100% {
      background-image: url(../assets/imgs/Corinthiasxvasco.jpg);
  }
  
}  
  
.filho2{
  height: 500px;
  border-radius: 8px;
  display: flex; 
  }
  
  .texto_liberta{  
      
    background-color: rgba(255, 255, 255, 0.13); 
    background-position: center;
    background-repeat: no-repeat;  
    margin-top: 48px;
    margin-left: 90px;
    margin-right: 90px;
    color: white;
    height: 70vh;
    width: 40vw;
    font-weight: 800;
    border: 3px solid#ffffff57; 
    border-radius: 8px; 
      
  } 

  
.header {
  background-color: white; 
  
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: black;
}

.agora {
  font-weight: 800; 
}

.navbar {
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: black;
}

.logotimao{
  height: 90px; 

}

.titulo { 
  color: black;
  font-weight: 500; 
  margin-right: 535px; 
}
  
.titulo_texto{
   
  margin-top: 10px;
  margin-left: 4px;
  color: black;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-weight: 800; 
  
  

}

 .texto2_liberta{ 
   width: 800;
  margin-top: 25px;
  font-size: 18px;
  color: white;
   border-top: 3px solid white;
   padding-left: 20px;
   padding-top: 10px;
 }
 
.button_veja{
  
  margin-top: 2px;
  margin-left: 40px; 
  background-color: white;
  width: 8vw;
  height: 8vh;
  border: 3px solid white;
  border-radius: 5px;
font-family: sans-serif; 
color: black;
}  

.button_veja:hover{
    
  transition: 2s;
  width: 8vw;
  height: 8vh;
  background-color: gray; 
  color: gray; 
  border: 3px solid gray;
  border-radius: 8px;
}

.texto_veja{

  color: black;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 800; 
  text-decoration: none;
} 
 
.simulador{
   height: 90vh;
  background-image: url(../assets/imgs/Design\ sem\ nome.png);
   background-size: cover;

}
  

/* Início página histótia */ 

.container_historia{  

  width: 80%;
  display: flex; 


}

.titulo_historia{ 

  color: white;
  font-size: 28px; 
  margin-left: 20px;

}

.texto_historia{
 
margin-top: 70px;
display: flex;
  
} 

.historia{ 
  height: 50vh; 
  width: 56vh;
  background-color: white;
  margin-top: 50px;
  margin-right: 30px;
  text-align:center; 
  padding-top: 20px;
  border-radius: 8px; 
  font-weight: 500; 
  font-size: 18px; 
  text-indent: 20px;
}

.titulo_fundacao{

  color: black;
  font-weight: 800;
  margin-top: 10px;

} 


/*Início página login */ 

.banner {
   
  height: 90vh;
  background-image: url(../assets/imgs/Design\ sem\ nome.png);
  background-repeat: no-repeat;
  background-size:cover;

}

.footer{
  
  margin-top: 20px; 
}

.container_footer {
  margin-left: 10px; 
  display: flex; 
  align-items: center;
} 

.logo_footer{
   height: 14vh;
   width: 6vw; 
   margin-left: 500px;
} 

.texto_footer{

  margin: 0;
}

.texto_insta{ 

  margin-top: 10px; 
  font-size: 14px;

} 

.imagem{

  margin-left: 10px;
} 

.f2{
margin-left: 450px;
font-size: 14px;
 margin-bottom: 2px;
}