*{
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 
}  

.capa{

  margin-top: 1px;
  height: 100vh;
  display: flex;
  font-family: sans-serif;
  font-size: 20px;
  display: flex;
  background-image: url(../assets/imgs/Design\ sem\ nome.png);
  background-repeat: no-repeat; 

}   
.sessao2{
   width: 100%;
  background-color: black;

}

.img2{
  
  background-repeat: no-repeat;
  
}

 .container {
  width: 80%;
  margin: auto;
  display: flex; 
   
}

.pai_texto{
 
color:white;

}
.carrosel {
  background-position: center;
  width: 40vw;
  height: 70vh;
  margin-top: 50px;
  animation: slide 10s infinite;
  animation-duration: alternate;
  background-size: cover; 
  border: 3px #ffffff57 solid;
  border-radius: 8px;
}

@keyframes slide {

  0%,
  30% {
      background-image: url(../assets/imgs/trofeu.jpg);
  }

  35%,
  65% {
      background-image: url(../assets/imgs/fundo2.jpg);
  }

  70%,
  80% {
      background-image: url(../assets/imgs/Corinthiasxvasco.jpg);
  }
    
  70%,
  100% {
      background-image: url(../assets/imgs/gol_romarinho.jpg);
  }

}  
  
.filho2{
  height: 500px;
  border-radius: 8px;
  display: flex; 
}
  
  .texto_liberta{  
        
    margin-top: 48px;
    margin-left: 90px;
    margin-right: 90px;
    background-color: white;
    color: rgba(255, 255, 255, 0.13);
    border-radius: 8px;
    height: 70vh;
    width: 40vw;
    font-weight: 800;
    padding-right: 8px;
    padding-left: 8px;
      
  } 

  
.header {
  background-color: white; 
  
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: black;
}

.agora {
  font-weight: 800; 
}

.navbar {
  width: 390px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: black;
}

.logotimao{
  height: 90px; 

}

.titulo { 
  color: black;
  font-weight: 500; 
  margin-right: 535px; 
}
  
.titulo_texto{
     
  margin-top: 10px;
  margin-left: 8px;
  color: black;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-weight: 800; 
  text-indent: 10px;
  
  

}

 .texto2_liberta{ 
   width: 800;
  margin-top: 30px;
  font-size: 21px;
  color: gray;
   border-top: 3px solid gray;
   padding-left: 20px;
   padding-top: 15px;
 }
 
.button_veja{
  
  margin-top: 2px;
  margin-left: 40px; 
  background-color:  gray;
  width: 8vw;
  height: 9vh;
  border: 3px solid white;
  border-radius: 8px;
font-family: sans-serif; 
color: black;
}  

.button_veja:hover{
    
  transition: 2s;
  width: 8vw;
  height: 9vh;
  background-color: gray; 
  color: gray; 
  border: 3px solid gray;
  border-radius: 8px;
}

.texto_veja{

  color: black;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 800; 
  text-decoration: none;
}    

/* Início sessão brasileirão */

.section2{
    
  height: 80vh;
  background-size: cover;
} 

.container_brasileiro{
  width: 100%;
  display: flex; 
}
  
.card_brasileiro {
  
  height: 50vh;
  width: 50vw;
  text-align: center;
  margin-top: 100px;
  margin-left: 325px;
   border-radius: 8px; 
  font-family: sans-serif;
  background-color: #212124;
  box-shadow: 2px 2px;
}

.formulario_brasileiro{
 margin-top: 20px;
display: flex;
flex-direction: column;
color: black;
font-size: 25px;
font-family: sans-serif;
align-items: center;
border-radius: 8px
} 

#div_resultado{
  color:orangered
}

.tipo_campo2{
  color: white;
}


/* Início página histótia */ 

.container_historia{  

  width: 80%;
  display: flex; 

} 

.simulador{
  height: 90vh;
 background-image: url(../assets/imgs/Design\ sem\ nome.png);
  background-size: cover;

}

.titulo_historia2{
  
padding-top: 10px;

}

.titulo_historia{ 

  color: white;
  font-size: 28px; 
  margin-left: 50px;


}

.texto_historia{
 
display: flex; 
margin-left: 85px;
  
}  

.historia{ 
  height: 50vh; 
  width: 56vh;
  background-color: white;
  margin-top: 24px;
  margin-right: 30px;
  padding-top: 20px;
  border-radius: 8px; 
  font-weight: 500; 
  font-size: 18px; 
  text-indent: 20px;
  padding-left: 6px;
  padding-right: 9px;
}

.historia:hover{
  width: 58vh;
  transition: 2s;
  text-indent: 20px;
  padding-left: 6px;
  padding-right: 9px;
}

.titulo_fundacao{
  text-align: center;
  color: black;
  font-weight: 800;
  margin-top: 10px;

}  

.texto_fundacao{
  text-align: center;
  


}
/* Fim página história /*

/* Início pagina dash_estatica */

.titulo_dash{
  padding-top: 10px;
text-align: center;
background-color: #212124;
border-right: 3px white solid;
height: 100vh;
width: 22vw;
text-indent: 5px;  
}   

.texto_dash{

font-size: 21px;
margin-top: 8px;

} 

.input_quis{
height: 2vh;
width: 23vh;
border: 2px black solid;
border-radius: 8px;
margin-left: 10px;
margin-top: 20px;
}

.texto_2{
  
  color: white;

}

.div_select1{

  margin-top: 30px;

} 

.div_select2{
  
  margin-top: 30px;

}

#i_final{
 
  width: 15vw;
  border: 4px solid #e5e5e5;;
  border-radius: 10px;
  padding-top: 15px;
  text-align: center;
  margin-bottom: 12px;

}

#i_select{
  width: 15vw;
  border: 4px solid #e5e5e5;;
  border-radius: 10px;
  padding-top: 15px;
  text-align: center;
  margin-bottom: 12px;
}

#div_resultados{
   
  color: white;
  display: block;

}

.btn_voto{
height: 8vh;
width: 10vw;
margin-top: 25px;
background-color: gray;
border: 3px solid gray;
border-radius: 5px;

}
.card_votos{

display: flex;

}

.votos{

display: flex;
flex-direction: column;


} 

.img_voto {
margin-top: 6px;
margin-left: 50px;
height: 20vh;
width: 20vw; 

}  

.img_voto:hover{ 
height: 22vh;
width: 22vw;
transition: 1s;

}

.texto_voto{ 
color: white;
font-weight: 600;
margin-top: 20px;
font-size: 15px;
text-align: center;
text-indent: 52px;
} 

.texto_ida_volta{
color: white;
font-weight: 600;
margin-top: 20px;
font-size: 15px;
text-align: center;
text-indent: 52px;

}
/* 
input{
width: 10vw;
margin-top: 10px;
margin-left: 110px;
} */


/*Início página login */ 

.banner {
   
  height: 90vh;
  background-image: url(../assets/imgs/Design\ sem\ nome.png);
  background-repeat: no-repeat;
  background-size:cover; 
} 

.container_login{
  width: 100%;
  display: flex;


}
  .card {
  
    height: 50vh;
    width: 50vw;
    text-align: center;
    margin-top: 100px;
    margin-left: 325px;
     border-radius: 8px; 
    font-family: sans-serif;
    background-color: white;
    background-image: linear-gradient(to right, white 50%, black 100% );
}

.formulario{
   margin-top: 20px;
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 25px;
  font-family: sans-serif;
  align-items: center;
  border-radius: 8px
} 

input{
  
  width: 15vw;
  border: 4px solid #e5e5e5;;
  border-radius: 10px;
  padding-top: 15px;
  text-align: center;
  margin-bottom: 12px;
  

} 

.btn{

margin-top: 10px;
color: black;
height: 8vh;
width: 8vw;
border: 3px solid  #e5e5e5;
border-radius: 8px; 
box-shadow: black 2px 2px 2px;
font-size: 18px;
color: black; 
font-family: sans-serif;
}

#erro_login{
  color: red;
  margin-top: 150px;
  font-weight: 800;
  background-color: white;
  border: 3px black solid;
  text-align: center;
  text-indent: 2px;
  border-radius: 8px;
  margin-left: 35px;
  width: 20vw;
  height: 8vh;
display: none;
}

/* Início do cadastro */
  

.container_cadastro {
  width: 100%;
  display: flex; 
   
}
.card_medio {

  height: 80vh;
  width: 50vw;
  text-align: center;
  margin-top: 40px;
  margin-left: 335px;
  border-radius: 8px;
  font-family: sans-serif;
  background-color: white;
  background-image: linear-gradient(to right, white 50%, black 100%  );
}

.formulario_cadastro{
  margin-top: 30px;
 display: flex;
 flex-direction: column;
 color: black;
 font-size: 25px;
 font-family: sans-serif;
 align-items: center;
 border-radius: 8px;
 text-align: center;
} 

#votacao_select{ 

  width: 15vw;
  border: 4px solid #e5e5e5;;
  border-radius: 10px;
  padding-top: 15px;
  text-align: center;
  margin-bottom: 12px;
  color: black;
  font-weight: 800;

}  


/* Início pagina hinos */ 
.hinos{
   
  display: flex;
 

} 


.texto_hino1{
 color: white;
 font-size: 21px;
 font-weight: 800;
  text-align: center;

}

.img_bando_loucos{
 
  margin-top: 20px;
  margin-left: 50px;

}

.btn_ouvir{
  margin-top: 10px;
  margin-left: 130px;
 
}

.btn_hino1{ 
  width: 8vw;
  height: 8vh;
 text-align: center;
 font-size: 15px;
 border: 2px white solid;
 border-radius: 3px;
 box-shadow: 2px 2px;
}

.bando_loucos{
   
  width: 28vw;
  height: 48vh;
  border-radius: 8px;

} 


.bando_loucos:hover{
 
  width: 29vw;
  height: 48vh;
  transition: 1s;
}  

.hino_href{
  
  margin-left: 150px;

} 



/* Início do footer */

.footer{
  
  margin-top: 20px; 
}

.container_footer {
  margin-left: 10px; 
  display: flex; 
  align-items: center;
} 

.logo_footer{
   height: 14vh;
   width: 6vw; 
   margin-left: 500px;
} 

.texto_footer{

  margin: 0;
}

.texto_insta{ 

  margin-top: 10px; 
  font-size: 14px;

} 

.imagem{

  margin-left: 10px;
} 

.f2{
margin-left: 450px;
font-size: 14px;
 margin-bottom: 2px;
}  

.texto_insta{
  
  text-decoration: none;
  color: black;
}

.texto_insta:hover {
 transition: 2s;
 color: red;
 font-weight: 500;
} 

/* Início formulario de erro */ 

.alert_erro{
  
margin-right: 10px;

}



/* Card erro cadastro */
#card_erro {
 color: red;
  margin-top: 150px;
  font-weight: 800;
  background-color: white;
  border: 3px black solid;
  text-align: center;
  text-indent: 2px;
  border-radius: 8px;
  margin-left: 15px;
  width: 20vw;
  height: 13vh;
  padding-top: 10px;
  display: none;

}

